/* Fonte padrão sans-serif fina */
body {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300; /* thin/light */
    margin: 0;
    padding: 0;
    background: #ffffff;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 25px 40px;
    margin-top: 10px;   
    margin-left: 420px;  
    gap: 30px;  
    position: relative; /* necessário para o ::after */
}

/* Linha decorativa com começo e fim */
header::after {
    content: "";
    display: block;
    width: 1200px;               /* comprimento da linha */
    height: 1px;                /* espessura */
    background-color: #bdb9b9;  /* cor da linha */
    position: absolute;
    bottom: -25;                  /* posição vertical no header */
    left: -55;                    /* ponto inicial da linha */
}

/* Título */
header h1 {
    font-size: 48px;
    letter-spacing: 6px;
    font-weight: 300; /* leve */
    margin: 0;
}

/* Navegação */
nav {
    display: flex;
    gap: 20px;
}

/* Botões do menu */
nav button {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 8px;
    transition: 0.2s;
    margin-top: 10px
}

/* Hover nos botões */
nav button:hover {
    background: #f2f2f2;
}
